<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>用户管理</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <style type="text/css">
        body {
            margin: 40px;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
            text-align: center;
        }

        form {
            max-width: 350px;
            margin: 12px auto;
        }

        input {
            margin-right: 10px;
        }

        table {
            text-align: left;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Spring Boot Faster</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}">首页</a></li>
                <li class="active"><a th:href="@{/user}">用户管理</a></li>
                <li><a th:href="@{/swagger-ui.html}">接口文档</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a sec:authentication="name"></a></li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" class="btn btn-warning btn-xs" value="注销"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div sec:authorize="hasRole('ROLE_USER')">
        <h2>新增用户</h2>
        <form th:object="${user}" th:action="@{/addUser}" action="/addUser" method="post">
            <div class="form-group">
                <input type="text" class="form-control" th:field="*{username}"
                       name="username" placeholder="用户名"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" th:field="*{password}"
                       name="password" placeholder="密码"/>
            </div>
            <div class="row">
                <input type="reset" value="重置" class="btn btn-info col-md-4 col-md-offset-2"/>
                <input type="submit" value="新增" class="btn btn-primary col-md-4"/>
            </div>
        </form>
    </div>
</div>

<div class="container col-md-6 col-md-offset-3">
    <h2>用户管理</h2>
    <table th:if="${users} and ${not users.isEmpty()}"
           class="table table-hover table-striped">
        <thead>
        <th>名称</th>
        <th>生日</th>
        <th sec:authorize="hasRole('ROLE_USER')">操作</th>
        </thead>
        <tbody>
        <tr th:each="user, curr : ${users}">
            <td><span th:text="${user.username}"/></td>
            <td><span th:text="${#dates.format(user.birthday,'yyyy-MM-dd')}"/></td>
            <td><a href="#" th:href="@{/deleteUser(userId=${user.userId})}"
                   sec:authorize="hasRole('ROLE_USER')" class="btn btn-danger btn-sm">删除</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>